apiVersion: v1
kind: Service
metadata:
  name: user-api
  annotations:
    code-repo: https://github.com/robusta-dev/kubernetes-demos
spec:
  selector:
    app: user-api
  ports:
    - port: 80
      targetPort: 5000
  type: ClusterIP
